body {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Bitcount Single", monospace;
}

.q-area {
  background-color: antiquewhite;
  color: black;
  border: 6px solid yellow;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 15px;
  font-size: 1.2em;
}

input {
  margin-top: 5px;
}

#quiz-attempts {
  margin: 0 auto;
  margin-bottom: 10px;
}

button {
  width: 100px;
  margin: 0 auto;
}

#ending-text {
  text-align: center;
  font-size: 1.5em;
}

img {
  width: 48px;
  height: 48px;
}
